html, body{
    color: white;
    font-family:  Helvetica, Arial,sans-serif;
    font-size: 1.3rem;
    padding: 10px;
    border-radius: 10%;
}

button {
    padding: 10px;
    font-size: 1.3rem;
    margin-right: 5px;
    margin: 10px;
}

.navbar-item-right {
    margin-left: auto;
  }

  